$font-size: 26px;
$post-header-font: 'Oregano', cursive;

.post-container{
  box-sizing: border-box;
  padding: 20px;
  height: auto;
  width: 700px;
  margin: auto;
  text-align: center;
  #create-post-header{
    margin: 0;
    font-family: $post-header-font;
    font-style: italic;
  }
  .title-input-item{
    box-sizing: border-box;
    margin: 5px;
    height: 50px;
    width: 400px;
    border: none;
    font-size: $font-size;
    font-family: $post-font;
    text-align: center;
  }
  .input-box{
    border-bottom: 1px solid black;
    outline: none;
    padding: 0;
  }
  .post-input-item{
    box-sizing: border-box;
    padding: 20px;
    margin: 15px;
    height: 150px;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-shadow: $shadow;
    font-size: $font-size;
    font-family: $post-font;
    outline: none;
    resize: none;
  }
  .input-item{
    box-sizing: border-box;
    margin: 5px;
    height: 50px;
    width: 250px;
    border: none;
    font-size: $font-size;
    font-family: $post-font;
    text-align: center;
  }
  .post-submit-btn{
    padding: 15px;
    margin-top: 20px;
    border-radius: 2px;
    background-color: $button-color;
    box-shadow: $shadow;
    font-family: $secondary-font;
    color: white;
    cursor: pointer;
    &:hover{
      background-color: $btn-hover-color;
    }
    &:active{
      background-color: $btn-active-color;
    }
  }
  .single-post-container{
    position: relative;
    box-sizing: border-box;
    box-shadow: $shadow;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 20px;
    .post-title{
      float: left;
      .title-text{
        margin: 0;
        padding: 5px;
        font-family: $logo-font;
      }
    }
    .post-content{
      border: 1px solid #bfbfbf;
      border-radius: 2px;
      clear: left;
      font-family: $post-font;
      text-align: left;
      .post-text{
        margin: 10px;
      }
    }
    .author-date{
      display: inline-block;
      float: right;
      padding: 10px;
      font-family: $secondary-font;
    }
    .post-username{
      border: 1px solid black;
    }
    .comment-btn-container{
      height: 30px;
      margin: 5px 0;
      .add-comment-btn{
        box-sizing: border-box;
        float: right;
        height: 30px;
        width: 130px;
        border: 1px solid black;
        border-radius: 2px;
        background-color: $button-color;
        box-shadow: $shadow;
        cursor: pointer;
        &:hover{
          background-color: $btn-hover-color;
        }
        &:active{
          background-color: $btn-active-color;
        }
        .add-comment-btn-text{
          margin: 0;
          line-height: 30px;
          color: white;
          font-family: $secondary-font;
        }
      }
    }
  }
  #directory-user-title{
    font-family: $logo-font;
    font-size: 36px;
  }
  #directory-first-last{
    font-family: $post-font;
    font-size: 26px;
  }

}
