<!-- ======= views/home.erb ======= -->
<div id="home-container">
  <h1>Welcome to Terriblog</h1>
  <h3>The blog that's <span>not</span> so terrible!</h3>
  <h3>Please sign in to get started.</h3>
</div>
