<!-- ======= views/menu.erb ======= -->

<div id="logo-container">
  <a href="/"><p id="logo-text">Terriblog</p></a>
</div>
<div id="navbar-items">

  <% if session[:user_id] %>
    <a href="/blog_feed"><div class="nav-item">blog feed</div></a>
    <a href="/new_post"><div class="nav-item">new post</div></a>
    <a href="/directory"><div class="nav-item">directory</div></a>
    <a href="/user_update"><div class="nav-item">edit profile</div></a>
    <a href="/signout"><div class="nav-item">sign out</div></a>
  <% else %>
    <a href="/signin"><div class="nav-item">sign in</div></a>
  <% end %>

</div>
  <!-- <a href="/signin"><div class="nav-item">sign in</div></a>
  <a href="/signout"><div class="nav-item">sign out</div></a>
</div> -->
<!-- <div class="menu-item">profile</div>
<div class="menu-item">portfolio</div>
<div class="menu-item">resume</div>
<div class="menu-item">interests</div> -->
