<!-- ======= views/menu.erb ======= -->

<a href="/signin"><div class="menu-item">sign in</div></a>
<a href="/signout"><div class="menu-item">sign out</div></a>
<a href="/register"><div class="menu-item">register</div></a>
<!-- <div class="menu-item">profile</div>
<div class="menu-item">portfolio</div>
<div class="menu-item">resume</div>
<div class="menu-item">interests</div> -->
