<!-- ======= views/menu.erb ======= -->

<div id="logo-container">
  <p id="logo-text">Terriblog</p>
</div>
<div id="navbar-items">
  <a href="/signin"><div class="nav-item">sign in</div></a>
  <a href="/signout"><div class="menu-item">sign out</div></a>
</div>
<!-- <div class="menu-item">profile</div>
<div class="menu-item">portfolio</div>
<div class="menu-item">resume</div>
<div class="menu-item">interests</div> -->
