<!-- view/new_post.erb -->
<!-- user_id, comment_id, title, content, created_at -->
<div class="post-container">
  <h1 id="create-post-header">What's on your mind?</h1>
</div>

<div class="post-container">
  <form action="create_new_post" method="post">
    <input class="title-input-item input-box new-post-input" maxlength="30" type="text" name="title" value="" placeholder="Title">
      <!-- <input class="post-input-item post-input-box" type="text" name="content" maxlength="150" value="" placeholder="Say something"> -->
    <textarea class="post-input-item post-input-box new-post-input" type="text" name="content" maxlength="150" value="" placeholder="Say something!" rows="20" cols="30"></textarea>
    <input id="new-post-submit" class="input-item post-submit-btn" type="submit" value="Post!">
  </form>
</div>
