<!-- view/new_post.erb -->
<!-- user_id, comment_id, title, content, created_at -->
<h1>Create New Post</h1>

<form class="" action="create_new_post" method="post">
<div>
  <input type="text" name="title" value="" placeholder="Title">
</div>
  <div>
    <input type="text" name="content" value="" placeholder="Say something">
  </div>
  <input type="submit" value="Create">
</form>
