<!-- ======= views/signin.erb ======= -->
<% if flash[:notice] %>
    <div class="flash_notice">
        <%= flash[:notice] %>
    </div>
<%end%>

<!-- username/ password -->
<div id="form-container">
  <form id='users-data' action="/signin" method="post">
    <div>
      <input class="input-box input-item" type="text" name="username" value="" placeholder="Username">
    </div>
    <div>
      <input class="input-box input-item" type="text" name="password" value="" placeholder="Password">
    </div>
    <input class="input-item submit-btn" type="submit" value="Sign In">
    <div id="register-div">
      <a href="/register" id="register-text">No account? Register here!</a>
    </div>
  </form>
</div>
