<!-- views/user_profile.erb -->
<h1>User Profile page</h1>

<% if flash[:notice] %>
        <h2><%= flash[:notice] %></h2>
<%end%>

<!-- temporary link to user update page -->
<!-- need to be removed later. edit accout button is in the nav bar -->
<a href="user_update">Update account</a>
