<div class="post-container">
  <h1 id="create-post-header">User Detail</h1>
</div>

<div class="post-container">
    <h1 id="directory-user-title"> <%= @user[:username] %> </h1>
    <p id="directory-first-last">
      <%= @user[:firstname] %>
      <%= @user[:lastname] %>
    </p>
</div>

<!-- <div <div class="post-container">
  show posts according to profile here.
  show all comments associated with post.
</div> -->
