#menu-container {
  box-sizing: border-box;
  padding: 20px;
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
  #menu-container #logo-container {
    float: left; }
    #menu-container #logo-container a {
      text-decoration: none; }
      #menu-container #logo-container a #logo-text {
        margin: 0;
        line-height: 40px;
        font-size: 36px;
        color: black;
        font-family: "Comfortaa", cursive; }
  #menu-container #navbar-items {
    float: right; }
    #menu-container #navbar-items a {
      text-decoration: none;
      text-align: center; }
      #menu-container #navbar-items a .nav-item {
        box-sizing: border-box;
        display: inline-block;
        margin: 0 5px;
        padding: 10px;
        height: 40px;
        width: 100px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        color: white;
        font-size: 20px;
        background-color: #3333ff;
        font-family: "Josefin Sans", sans-serif; }
        #menu-container #navbar-items a .nav-item:hover {
          background-color: #6666ff; }
        #menu-container #navbar-items a .nav-item:active {
          background-color: #0000cc; }

#footer {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: #3333ff; }
  #footer #footer-text {
    float: left;
    display: inline-block;
    margin: 0 20px;
    line-height: 60px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    color: white; }
  #footer #github-icon {
    float: right;
    /*box-sizing: border-box;*/
    margin-right: 20px;
    display: inline-block;
    padding: 10px 10px;
    height: 40px;
    border-radius: 50%; }
    #footer #github-icon:active {
      background-color: #0000cc; }

#form-container {
  box-sizing: border-box;
  padding: 20px;
  height: auto;
  width: 300px;
  margin: auto;
  text-align: center; }
  #form-container .input-item {
    box-sizing: border-box;
    margin: 5px;
    height: 50px;
    width: 250px;
    border: none;
    font-size: 26px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center; }
  #form-container .input-box {
    border-bottom: 1px solid black;
    outline: none;
    padding: 0; }
  #form-container .submit-btn, #form-container a .delete-btn {
    padding: 10px;
    margin-top: 20px;
    border-radius: 2px;
    background-color: #3333ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer; }
    #form-container .submit-btn:hover, #form-container a .delete-btn:hover {
      background-color: #6666ff; }
    #form-container .submit-btn:active, #form-container a .delete-btn:active {
      background-color: #0000cc; }
  #form-container a {
    text-decoration: none; }
    #form-container a .delete-btn {
      margin-top: 5px;
      background-color: #ff3333; }
      #form-container a .delete-btn:hover {
        background-color: #ff6666; }
      #form-container a .delete-btn:active {
        background-color: #e60000; }
      #form-container a .delete-btn #delete-txt {
        color: white; }
  #form-container #register-div {
    float: right;
    padding: 5px; }
    #form-container #register-div #register-text {
      font-family: "Josefin Sans", sans-serif;
      font-size: 16px;
      text-decoration: none;
      color: black; }
      #form-container #register-div #register-text:hover {
        text-decoration: underline; }

.post-container {
  box-sizing: border-box;
  padding: 20px;
  height: auto;
  width: 700px;
  margin: auto;
  text-align: center; }
  .post-container #create-post-header {
    margin: 0;
    font-family: "Oregano", cursive;
    font-style: italic; }
  .post-container .title-input-item {
    box-sizing: border-box;
    margin: 5px;
    height: 50px;
    width: 400px;
    border: none;
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    text-align: center; }
  .post-container .input-box {
    border-bottom: 1px solid black;
    outline: none;
    padding: 0; }
  .post-container .post-input-item {
    box-sizing: border-box;
    padding: 20px;
    margin: 15px;
    height: 150px;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    outline: none;
    resize: none; }
  .post-container .input-item {
    box-sizing: border-box;
    margin: 5px;
    height: 50px;
    width: 250px;
    border: none;
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    text-align: center; }
  .post-container .post-submit-btn {
    padding: 15px;
    margin-top: 20px;
    border-radius: 2px;
    background-color: #3333ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Josefin Sans", sans-serif;
    color: white;
    cursor: pointer; }
    .post-container .post-submit-btn:hover {
      background-color: #6666ff; }
    .post-container .post-submit-btn:active {
      background-color: #0000cc; }
  .post-container .single-post-container {
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 20px; }
    .post-container .single-post-container .post-title {
      float: left; }
      .post-container .single-post-container .post-title .title-text {
        margin: 0;
        padding: 5px;
        font-family: "Comfortaa", cursive; }
    .post-container .single-post-container .post-content {
      border: 1px solid #bfbfbf;
      border-radius: 2px;
      clear: left;
      font-family: "Open Sans", sans-serif;
      text-align: left; }
      .post-container .single-post-container .post-content .post-text {
        margin: 10px; }
    .post-container .single-post-container .author-date {
      display: inline-block;
      float: right;
      padding: 10px;
      font-family: "Josefin Sans", sans-serif; }
    .post-container .single-post-container .post-username {
      border: 1px solid black; }
    .post-container .single-post-container .comment-btn-container {
      height: 30px;
      margin: 5px 0; }
      .post-container .single-post-container .comment-btn-container .add-comment-btn {
        box-sizing: border-box;
        float: right;
        height: 30px;
        width: 130px;
        border: 1px solid black;
        border-radius: 2px;
        background-color: #3333ff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
        .post-container .single-post-container .comment-btn-container .add-comment-btn:hover {
          background-color: #6666ff; }
        .post-container .single-post-container .comment-btn-container .add-comment-btn:active {
          background-color: #0000cc; }
        .post-container .single-post-container .comment-btn-container .add-comment-btn .add-comment-btn-text {
          margin: 0;
          line-height: 30px;
          color: white;
          font-family: "Josefin Sans", sans-serif; }

#user-directory-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 50px;
  width: 100%; }
  #user-directory-container a {
    text-decoration: none; }
    #user-directory-container a .user-directory-item {
      height: 100px;
      width: 40vw;
      margin: 20px;
      box-sizing: border-box;
      border-radius: 2px;
      border: 1px solid #bfbfbf;
      text-align: center; }
      #user-directory-container a .user-directory-item span {
        line-height: 100px;
        font-size: 30px;
        color: black;
        font-family: "Comfortaa", cursive; }
      #user-directory-container a .user-directory-item:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        background-color: #f2f2f2; }
      #user-directory-container a .user-directory-item:active {
        background-color: #6666ff; }

body {
  margin: 0; }
  body #yield-container {
    padding-bottom: 60px; }

/*# sourceMappingURL=blog_styles.css.map */
